<div class="container">
	<div class="row homepage">
		<div class="col-sm"></div>
		<div class="col-sm">
			<p>Um link foi enviado ao seu e-mail. Confirme para resetar sua senha.</p>
		</div>
		<div class="col-sm"></div>
	</div>
</div>
