<div class="container">
	<div class="row homepage">
		<div class="col-sm"></div>
		<div class="col-sm">
			<p>Seu e-mail foi confirmado. <a asp-action="Login">Faça o login.</a></p>
		</div>
		<div class="col-sm"></div>
	</div>
</div>