<div class="container">
	<div class="row homepage">
		<div class="col-sm"></div>
		<div class="col-sm">
			<p>Sua senha foi alterada. <a asp-action="Login">Faça o login novamente.</a></p>
		</div>
		<div class="col-sm"></div>
	</div>
</div>